@charset "UTF-8";
/* CSS Document */

/* Tell the browser to render HTML 5 elements as block */  
header, footer, aside, nav, article {  
    display: block;  
}

/*css3 styles --------------------------------------------------------------------------- */
@media screen and (max-width:9999999px){
		  .box { 
			width: 21%;
			padding-bottom: 21%;
			height: 0;
			margin: 1.5%;
		   }
}
@media screen and (max-width: 1122px){
   .timeline { margin-top: 0; }
}
@media screen and (max-width: 1005px){	  
		.box { 
	  	width: 28% ; 
		padding-bottom: 28%;
		margin:1.5%;}
		.box:hover {
		width: 29%;
		padding-bottom: 29%;
		margin: 1%;}
}

@media screen and (max-width: 880px){
   #name {padding-top: 1%; letter-spacing:.3em;}
   #plax {margin-left:-3.8%;}
}

@media screen and (max-width: 780px){	  
		.box { 
	  	width: 45% ; 
		padding-bottom: 45%;
		margin:1.5%;}
		.box:hover {
		width: 46%;
		padding-bottom: 46%;
		margin: 1%;}
		#rightcol{float:left;}
  	 	#leftcol{float:left;}
}

/*@media screen and (max-width: 700px){
	
	img#plax-back {padding-left:43%;}
	img#plax-front {padding-left:43%;}
}*/

@media screen and (max-width: 619px){
   .cell {width:97%;}
   .cell.cright {float:left;}
   .cell.divider {display:none;}
   .result h2.resulth2 {text-align:center;}
   
}

@media screen and (max-width: 580px){
/*    #name { bottom:7%; padding-left: 10%; width:28%; letter-spacing:.4em; }
	.left {letter-spacing:.3em; margin-left:-4px; width:auto;}
	.right { letter-spacing:.15em;}
	img#plax-back {padding-left:67%;}
	img#plax-front {padding-left:67%;}*/
}

@media screen and (min-width: 0px){
   .rwd-break { display: none; }
}

@media screen and (max-width: 450px){
   .box { 
	  	width: 88%;
		padding-bottom: 88%;
		margin: 4%;
	}
	.box:hover {
		width: 88%;
		padding-bottom: 88%;
		margin: 4%;}
	#rightcol{float:none;}
	h1 {font-size:2.3em;}
	h2 {font-size:2.2em;}
	h4 {font-size:1em;}
	p {font-size:1em;}
}
