@charset "UTF-8";
/* CSS Document */

/*BODY --------------------------------------------------------------------------- */
html, body{
	width:100%;
	height:100%;
}

body {
	background: #FAFAFA /*url(/img/white_carbonfiber.png) repeat top left scroll*/;
	font: .8em "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", sans-serif;
	position:relative;
	overflow:hidden;
}

.removeimage {
	display:none;
	visibility:hidden;
}

.content {
	width: 98%;
	margin:	0 auto 1%;
	padding: 2% 1% 1% 2%;
	display:inline-block;
}

.cell {
	width: 48%;
	height: auto;
	margin: .3%;
	display:block;
}

.cell.cleft{float:left;clear:left;}
.cell.cright{float:right;clear:right;}
.cell.divider {background-color: rgb(104, 104, 104);
	height: 1px;
	width: 100%;}
.cfull{width:100%;clear:both;}
.cell.link.cfull{
	text-align: center;
	background: rgba(0, 0, 0, 0.13);
	font-variant: small-caps;
	font-family: arvo;
	font-size: 1.3em;
	padding: 2%;
	margin: 8%;
	width: 80%;
}
.cell.link.cfull a { font-variant: normal;
font-family: 'Habibi', serif;
font-size: 0.85em;
font-style:italic;
}

.title {
/*	background-color:rgb(184, 197, 209);
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Q0ZDVkNiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjE0JSIgc3RvcC1jb2xvcj0iI2Q2ZDdkOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijc1JSIgc3RvcC1jb2xvcj0iI2RmZGZkZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlMmUyZTIiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(left,  rgba(212,213,214,0) 0%, rgba(214,215,216,1) 14%, rgba(223,223,223,0) 75%, rgba(226,226,226,0) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(212,213,214,0)), color-stop(14%,rgba(214,215,216,1)), color-stop(75%,rgba(223,223,223,0)), color-stop(100%,rgba(226,226,226,0)));
	background: -webkit-linear-gradient(left,  rgba(212,213,214,0) 0%,rgba(214,215,216,1) 14%,rgba(223,223,223,0) 75%,rgba(226,226,226,0) 100%);
	background: -o-linear-gradient(left,  rgba(212,213,214,0) 0%,rgba(214,215,216,1) 14%,rgba(223,223,223,0) 75%,rgba(226,226,226,0) 100%);
	background: -ms-linear-gradient(left,  rgba(212,213,214,0) 0%,rgba(214,215,216,1) 14%,rgba(223,223,223,0) 75%,rgba(226,226,226,0) 100%);
	background: linear-gradient(to right,  rgba(212,213,214,0) 0%,rgba(214,215,216,1) 14%,rgba(223,223,223,0) 75%,rgba(226,226,226,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00d4d5d6', endColorstr='#00e2e2e2',GradientType=1 );
*/}

h1 {
font-family: 'Cinzel', serif;
font-weight: 400;
font-size: 3.3em;
text-align:left;
letter-spacing: .06em;
line-height: .8em;
text-shadow: 0px 1px 2px  rgba(255,255,255, 0.5);
padding-left:1%;
color: rgb(61, 61, 61);
}

h4 {
font-family: 'Josefin Slab', serif;
line-height: 1em;
font-weight: 100;
font-style: italic;
font-size: 1.2em;
text-align: left;
border-bottom: 1px solid #000;
text-shadow: 0px 0px 1px  rgba(0, 0, 0, 0.4);
padding-left:2%;
}

h2 {
font-family: 'Cinzel', sans-serif;
font-size: 2.5em;
font-weight: 400;
font-variant: small-caps;
color: #000;
}

h3 {
	font-family: 'Habibi', sans-serif;
	font-size: 1.2em;
	font-weight: 800;
	font-style: italic;
	text-decoration: underline;
}

.cell.head h2{ text-shadow:rgba(255,255,255, 0.5);}
.mission h2 {color: rgb(26, 26, 104);}
.strategy h2 {color: rgb(20, 80, 65);}
.dilemma h2 {color: rgb(146, 56, 56);}
.execution h2 {color: rgb(99, 41, 114);}
.result h2{ text-align:center; color: rgb(20, 109, 121);}


p {
	text-align:justify;
	font-family: 'Habibi', sans-serif;
	font-size: 1.2em;
	font-weight:400;
}

.timeline {
	position:absolute;
	position: absolute;
	right: 0;
	margin: -1.5% 1%;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 1em;
	font-weight: 300;
}



/*HEADER --------------------------------------------------------------------------- */
header {
	width: 100%;
	height: 0;
	position:relative;
	float:left;
	z-index:3;
/*	background-color:rgba(255,255,255,0.5); /*obsolete now with relative positioning it covers the scrollbar*/
}

.gradient-background {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left:0;
	display:block;
	z-index: 2;

background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjI1JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijc1JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(left,  rgba(255,255,255,0.5) 0%, rgba(255,255,255,1) 25%, rgba(255,255,255,1) 75%, rgba(255,255,255,0.5) 100%);
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0.5)), color-stop(25%,rgba(255,255,255,1)), color-stop(75%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0.5)));
background: -webkit-linear-gradient(left,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,1) 25%,rgba(255,255,255,1) 75%,rgba(255,255,255,0.5) 100%);
background: -o-linear-gradient(left,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,1) 25%,rgba(255,255,255,1) 75%,rgba(255,255,255,0.5) 100%);
background: -ms-linear-gradient(left,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,1) 25%,rgba(255,255,255,1) 75%,rgba(255,255,255,0.5) 100%);
background: linear-gradient(to right,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,1) 25%,rgba(255,255,255,1) 75%,rgba(255,255,255,0.5) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 );
}

.gradient-border { 
height:1px;
margin: 0;
position: absolute;
bottom: 0;
left:0;
display:block;
z-index: 2;

background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzMzMzMzMyIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjM1JSIgc3RvcC1jb2xvcj0iIzMzMzMzMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjY1JSIgc3RvcC1jb2xvcj0iIzMzMzMzMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzMzMzMzMiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(left,  rgba(51,51,51,0) 0%, rgba(51,51,51,1) 35%, rgba(51,51,51,1) 65%, rgba(51,51,51,0) 100%);
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(51,51,51,0)), color-stop(35%,rgba(51,51,51,1)), color-stop(65%,rgba(51,51,51,1)), color-stop(100%,rgba(51,51,51,0)));
background: -webkit-linear-gradient(left,  rgba(51,51,51,0) 0%,rgba(51,51,51,1) 35%,rgba(51,51,51,1) 65%,rgba(51,51,51,0) 100%);
background: -o-linear-gradient(left,  rgba(51,51,51,0) 0%,rgba(51,51,51,1) 35%,rgba(51,51,51,1) 65%,rgba(51,51,51,0) 100%);
background: -ms-linear-gradient(left,  rgba(51,51,51,0) 0%,rgba(51,51,51,1) 35%,rgba(51,51,51,1) 65%,rgba(51,51,51,0) 100%);
background: linear-gradient(to right,  rgba(51,51,51,0) 0%,rgba(51,51,51,1) 35%,rgba(51,51,51,1) 65%,rgba(51,51,51,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00333333', endColorstr='#00333333',GradientType=1 );
    -moz-background-size:1px 100%;
    background-size:100% 1px;
    background-repeat:no-repeat;
}



/*NAME --------------------------------------------------------------------------- */
#name {
	width: 100%;
	top:0;
	height: auto;
	display: inline-block;
	position: absolute;
	z-index:6;
	/*font*/
	color:#00243D;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 600%;
	line-height: 90%;
	letter-spacing: .3em;
	text-shadow: #fff -1px 1px 0,
				 rgb(33,77,114) -2px 2px 0;
				/* rgb(27,64,95) -2px 2px 0; */   
}
.left {
    text-align: left;
	padding: 0 0 0 6%;
}
.right {
    text-align: right;
	padding: 0 2% 0 0;
}
.left, .right {
    display: inline-block;
    width: 46%;
}


/*PLAX EFFECT --------------------------------------------------------------------------- */
a#plax {
	position: inherit;
    top:0;
	z-index: 6;
	overflow: visible;
	display: inline;
	height: 130%;
	text-decoration: none;
}

img#plax-back {
	position: absolute;
	z-index: 7;
	top: 0px;
	left: 0px;
	margin: 0;
	height: 100%;
	width:auto;
	padding-left:43%;
}

img#plax-front {
	position: absolute;
	z-index: 6;
	top: 0px;
	left: -5px;
	margin: 0;
	height: 100%;
	width:auto;
	padding:0 49% 0 43%; /*overwidth may cause bugs*/
}


/*CONTENT --------------------------------------------------------------------------- */
#contentwindow {
	text-align:center;
	padding: 6% 0 0 0;
	margin:0;
	position: absolute;
	overflow-x:hidden;
	overflow-y:scroll;
	width: 100%;
}

/*BOXES --------------------------------------------------------------------------- */
.box {
	display: none;
	vertical-align: top;
	width: 21%;
	padding-bottom: 21%;
	height: 0;
	margin: 1.5%;
	z-index: 1;
	overflow: hidden;
	border: 1px solid #fff;
	-webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
	   -moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
	        box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
/*	transition:all 0.3s ease;
	-webkit-transition:all 0.3s ease; /* Safari */
}

.box:hover {
	width: 22%;
	padding-bottom: 22%;
	margin: 1%;
}

.jshiddenimage {
	visibility:	hidden;
	display: none;
}

.box.active{
	position: absolute;
	z-index: 2;
	background-attachment: scroll;
	background-image: url(/img/brillant.png);
	background-repeat: repeat;
	background-position: left top;
}

.box.cloned.active {
	overflow-x: hidden;
	overflow-y: scroll;
	border: none;
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
	        box-shadow: none;
}

#leftcol {
	display:inline-block;
	float:left;
}

#rightcol {
	display: inline-block;
	float: left;
	position:relative;
	top:0;
	padding-top: 1%;
}

.uncloned .content, .uncloned .boximage, .uncloned .gallery, .uncloned .sprite{
	visibility:hidden;
}
.uncloned {	cursor:pointer;}

.box.active .boximage {
	float: left;
	border: 1px solid #fff;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	   -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	        box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	display:block;
	cursor:pointer;
}

.Contact.uncloned, .Contact .boximage {
	background-image:url(/img/boxes/contact.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
}

.Whitehall.uncloned, .Whitehall .boximage {
	background-image: url(/img/boxes/whitehall.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
}

.LOSO.uncloned, .LOSO .boximage {
	background-image: url(/img/boxes/loso.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
}

.DelRide.uncloned, .DelRide .boximage {
	background-image: url(/img/boxes/delride.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
}

.UDress.uncloned, .UDress .boximage {
	background-image: url(/img/boxes/udress.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
}

.Backcountry.uncloned, .Backcountry .boximage {
	background-image: url(/img/boxes/csbs.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
}

.Edgemoor.uncloned, .Edgemoor .boximage {
	background-image: url(/img/boxes/ecc.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
}

.Queen.uncloned, .Queen .boximage {
	background-image:url(/img/boxes/queen.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
}

.gallerywrap{
padding: 1.1% 1% 0.3% 1%;
background-image: url(/img/tweed.png); /*rgba(0, 0, 0, 0.15);*/
width: 98%;
clear: both;
margin-left: .4%;
display: block;
position: relative;
height: 175px;
-webkit-box-shadow: inset 0 0 10px #000000;
   -moz-box-shadow: inset 0 0 10px #000000;
        box-shadow: inset 0 0 10px #000000;
}

.gallery {
width: 100%;
white-space: nowrap;
overflow-x: scroll;
height: 171px;
}
.gallery ul{

}
.gallery li{
	display:inline;
	padding: 3px;
}

.gallery::-webkit-scrollbar {
	-webkit-appearance: none;
	height: 9px;
	margin:-10px 0 0 0;
}
.gallery::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
	background-color: rgba(212,212,212,.7);/*rgba(65,65,65,.8)*/
}

.sitelink {word-wrap:break-word;}

/*IFRAME --------------------------------------------------------------------------- */
.iframe {width:100%;}

/*RIBBON --------------------------------------------------------------------------- */
.ribbon {
font-family: 'Montserrat', sans-serif!important;
font-size: 107%;
line-height: 74%;
letter-spacing: 0.4em;
font-variant: small-caps;
position: relative;
background: rgb(52, 99, 80);
color: #fff;
padding-top: 3%;
padding-bottom: 4%;
text-align: center;
margin: 0 -6% 5% -6%;
-webkit-box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.3);
   -moz-box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.3);
box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.3);
}
.ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
 content: "";
position: absolute;
display: block;
border-style: solid;
border-color: rgb(79, 128, 101) transparent transparent transparent;
bottom: -.96em;
}
.ribbon .ribbon-content:before {
 left: 0;
 border-width: 1em 0 0 1em;
}
.ribbon .ribbon-content:after {
 right: 0;
 border-width: 1em 1em 0 0;
}


/* KEEP THIS AT BOTTOM!!!! */
.uncloned #lock {
z-index: -999!important;
position: absolute!important;
display: none!important;
}

.cloned.active #lock {
	z-index: !important;
	position: !important;
	display: !important;
}

#preloadimages {
	background-image:url(/img/brillant.png);
	display:none;
	visibility:hidden;
}

.scrollbar-measure {
	width: 100px;
	height: 100px;
	overflow: scroll;
	position: absolute;
	top: -9999px;
}

.loadingimg {
	margin-top: 20%;
	position: absolute;
}
