@charset "UTF-8";
/* CSS Document */

/*WEBFONTS:
font-family: font-weight: "style"
Carme		 400 "Regular"
Gudea		 400 "Regular"
Josefin Sans 100 "Thin"
			 300 "Light"
			 400 "Regular"
			 600 "SemiBold"
			 700 "Bold"
Montserrat	 400 "Regular"
			 700 "Bold"
Quicksand	 300 "Light
			 400 "Regular"
Shadows Into 400 "Regular"
  Light Two
Josefin Slab 400 "Regular"*
			 100 "Thin Italic"
			 400 "Italic"*
*/



/*BODY*/
html, body{
	width:100%;
	height:100%;
}

body {
	background: url(img/brillant.png) repeat top left scroll;
	overflow:hidden;
	font: 1em "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", sans-serif;
	position:relative;
}



/*HEADER*/
#header {
	width: 100%;
	height: 0;
	min-height: 38px;
	padding-bottom:4%;
	position:relative;
}
.gradient-background {
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjI1JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijc1JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 25%, rgba(255,255,255,1) 75%, rgba(255,255,255,0) 100%);
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(25%,rgba(255,255,255,1)), color-stop(75%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0)));
background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 25%,rgba(255,255,255,1) 75%,rgba(255,255,255,0) 100%);
background: -o-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 25%,rgba(255,255,255,1) 75%,rgba(255,255,255,0) 100%);
background: -ms-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 25%,rgba(255,255,255,1) 75%,rgba(255,255,255,0) 100%);
background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 25%,rgba(255,255,255,1) 75%,rgba(255,255,255,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 );
}

.gradient-border { 
	width: 100%;
	height: 1px;
	padding-bottom: 4%;
	position: relative;
	top: 98%;
	left: 10%;
/*gradient hacks*/
background: -moz-linear-gradient(left,  rgba(66,66,66,0) 0%, rgba(66,66,66,1) 35%, rgba(66,66,66,1) 65%, rgba(66,66,66,0) 100%);
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(66,66,66,0)), color-stop(35%,rgba(66,66,66,1)), color-stop(65%,rgba(66,66,66,1)), color-stop(100%,rgba(66,66,66,0)));
background: -webkit-linear-gradient(left,  rgba(66,66,66,0) 0%,rgba(66,66,66,1) 35%,rgba(66,66,66,1) 65%,rgba(66,66,66,0) 100%);
background: -o-linear-gradient(left,  rgba(66,66,66,0) 0%,rgba(66,66,66,1) 35%,rgba(66,66,66,1) 65%,rgba(66,66,66,0) 100%);
background: -ms-linear-gradient(left,  rgba(66,66,66,0) 0%,rgba(66,66,66,1) 35%,rgba(66,66,66,1) 65%,rgba(66,66,66,0) 100%);
background: linear-gradient(to right,  rgba(66,66,66,0) 0%,rgba(66,66,66,1) 35%,rgba(66,66,66,1) 65%,rgba(66,66,66,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00424242', endColorstr='#00424242',GradientType=1 );
    -moz-background-size:1px 100%;
    background-size:80% 1px;
    background-repeat:no-repeat;
}

img#semicircle {
	position: absolute;
	z-index: 3;
	top: 56%;
	left: 0;
	margin: 0 42.3%;
	height: 92%;
	width: auto;
}

img#gradient-semicircle {
	position: absolute;
	z-index: 3;
	top: 98%;
	left: 0;
	margin: 0 42.3%;
	height: 42%;
	width: auto;
}

h1.year {
color: #CCC;
font-size: 8px;
font-family: 'Josefin Slab', Georgia, Times, serif;
font-weight: 100;
margin: 4.2% 46.6%;
position: relative;
z-index: 3;
}



/*NAME*/
#name {
	width: 100%;
	height: auto;
	padding: 0;
	float: left;
	display: block;
	position: absolute;
	z-index:6;
	/*font*/
	color:#00243D;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 600%;
	line-height: 100%;
	letter-spacing: .3em;
	text-shadow: #fff -1px 1px 0,
				 rgb(33,77,114) -2px 2px 0;
				/* rgb(27,64,95) -2px 2px 0; */   
}
.left {
    text-align: left;
	padding: 0 0 0 6%;
}
.right {
    text-align: right;
	padding: 0 2% 0 0;
}
.left, .right {
    display: inline-block;
    width: 46%;
}
/*css3 styles*/
@media screen and (max-width: 880px){
   #name {letter-spacing:.2em;}
}
@media screen and (min-width: 580px){
   #name { padding-top:10px; }
   .rwd-break { display: none; }
}
@media screen and (max-width: 580px){
   #name {padding:1.5% 6%; width:28%; letter-spacing:.4em;}
}
@media screen and (max-width: 465px){
   #name {padding:1.5% 2%; width:35%; letter-spacing:.3em;}
}

/*PLAX EFFECT*/
div#plax {
	display: block;
	position: absolute;
	width: 100%;
    height:auto;
    bottom:0;
    top:0;
    left:0;
    right:0;
	z-index: 5;
	overflow: visible;
}

img#plax-back {
	position: absolute;
	z-index: 6;
	top: 0px;
	left: 0px;
	margin: 0 42%;
	height:140%;
	width:auto;
}

img#plax-front {
	position: absolute;
	z-index: 5;
	top: 0px;
	left: -6px;
	margin:0 42%;
	height:140%;
	width:auto;
}

/*CONTENT*/
#content{
	background: url(img/brillant.png) repeat top left scroll;
	width: 99%;
	padding: .5%;
	position: absolute;
	overflow:auto;
}



/*BOXES*/
.box{
	width: 24%;
 	height:0;
 	padding-bottom: 24%;
 	margin: .5%;
 	float:left;
	z-index: 1;
	overflow: hidden;
}

.box.active{
	position: absolute;
	z-index: 2;
}

.box.cloned.active {
	overflow: auto;
}

.box.one {
	background:#666;
}

.box.two {
	background:#666;
}

.box.three {
	background:#666;
}

.box.four {
	background:#666;
}

.box.five {
	background:#666;
}

.box.six {
	background:#666;
}