@charset "UTF-8";
/* CSS Document */

/*RESET*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, 
pre, form, fieldset, input, textarea, p, blockquote, th, td { 
	padding: 0;
	margin: 0;
 }
fieldset, img { 
	border: 0;
	}
table {
	border-collapse: collapse;
	border-spacing: 0;
	}
ol, ul {
	list-style: none;
	}
address, caption, cite, code, dfn, em, strong, th, var {
	font-weight: normal;
	font-style: normal;
	}
caption, th {
	text-align: left;
	}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	font-size: 100%;
	}
q:before, q:after {
	content: '';
	}
abbr, acronym { 
	border: 0;
	}
	
img { max-width: 100%; }

/*BODY*/
html, body{
	width:100%;
	height:100%;
}

body {
	overflow:hidden;
	font: 1em "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", sans-serif;
}

#header {
	width: 100%;
	height: 0;
	min-height: 40px;
	padding-bottom: 4%;
	background-color: #939;
	border: #000 1px solid;
	position:relative;
}

#content{
	width: 99%;
	padding: .5%;
	position: absolute;
	overflow:scroll;
	background:#CCC;
}


/*BOXES*/
.box{
	z-index: 0;
	overflow: hidden;
}

.box.active{
	position: absolute;
	z-index: 9000;
}

.box.cloned.active {
	overflow: scroll;
}

#box{
 width: 23.75%;
 height:0;
 padding-bottom: 23.75%;
 margin: .55%;
 float:left;
 border:#000 1px solid;
}

/*LOGO*/