@charset "UTF-8";
/* CSS Document */

/*BODY --------------------------------------------------------------------------- */
html, body{
	width:100%;
	height:100%;
}

body {
	background: url(img/brillant.png) repeat top left scroll;
	overflow:hidden;
	font: .8em "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", sans-serif;
	position:relative;
}

.content {
	width: 98%;
	margin:	3% auto;
	padding: 1%;
	display:inline-block;
}

.cell {
	width: 48%;
	height: auto;
	margin: .3%;
	display:block;
}

.cell.cleft{float:left;clear:left;}
.cell.cright{float:right;clear:right;}
.cell.divider {background-color: rgb(236, 235, 235);height:2px;width:100%;-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);box-shadow: 0 1px 3px rgba(0,0,0,0.5);}
.cell.cfull{width:auto;clear:both;}

h1 {
font-family: 'Marcellus', serif;
font-weight: 400;
font-size: 4em;
text-align:left;
letter-spacing: .06em;
line-height: .8em;
text-shadow: 0px 1px 2px  rgba(0, 0, 0, 0.4);
padding-left:1%;
}

h2 {
	font-family: 'Arvo', sans-serif;
	font-size: 2.5em;
	font-weight: 400;
	color: #000;
}

h4 {
font-family: 'Josefin Slab', serif;
line-height: 1em;
font-weight: 100;
font-style: italic;
font-size: 1.2em;
text-align: left;
border-bottom: 1px solid #000;
text-shadow: 0px 0px 1px  rgba(0, 0, 0, 0.4);
padding-left:2%;
}

p {
	text-align:justify;
	font-family: 'Habibi', sans-serif;
	font-size: 1.2em;
	font-weight:400;
}

.timeline {
	position:absolute;
	position: absolute;
	right: 0;
	margin: -1.5% 1%;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 1em;
	font-weight: 300;
}



/*HEADER --------------------------------------------------------------------------- */
#header {
	width: 100%;
	height: 0;
	min-height: 38px;
	padding-bottom:4%;
	position:relative;
	min-width: 400px;
}
.gradient-background {
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjI1JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijc1JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 25%, rgba(255,255,255,1) 75%, rgba(255,255,255,0) 100%);
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(25%,rgba(255,255,255,1)), color-stop(75%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0)));
background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 25%,rgba(255,255,255,1) 75%,rgba(255,255,255,0) 100%);
background: -o-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 25%,rgba(255,255,255,1) 75%,rgba(255,255,255,0) 100%);
background: -ms-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 25%,rgba(255,255,255,1) 75%,rgba(255,255,255,0) 100%);
background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 25%,rgba(255,255,255,1) 75%,rgba(255,255,255,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 );
}

.gradient-border { 
width: 100%;
margin: 0;
position: absolute;
top: 98%;
left: 10%;
z-index: 2;
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzMzMzMzMyIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjM1JSIgc3RvcC1jb2xvcj0iIzMzMzMzMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjY1JSIgc3RvcC1jb2xvcj0iIzMzMzMzMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzMzMzMzMiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(left,  rgba(51,51,51,0) 0%, rgba(51,51,51,1) 35%, rgba(51,51,51,1) 65%, rgba(51,51,51,0) 100%);
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(51,51,51,0)), color-stop(35%,rgba(51,51,51,1)), color-stop(65%,rgba(51,51,51,1)), color-stop(100%,rgba(51,51,51,0)));
background: -webkit-linear-gradient(left,  rgba(51,51,51,0) 0%,rgba(51,51,51,1) 35%,rgba(51,51,51,1) 65%,rgba(51,51,51,0) 100%);
background: -o-linear-gradient(left,  rgba(51,51,51,0) 0%,rgba(51,51,51,1) 35%,rgba(51,51,51,1) 65%,rgba(51,51,51,0) 100%);
background: -ms-linear-gradient(left,  rgba(51,51,51,0) 0%,rgba(51,51,51,1) 35%,rgba(51,51,51,1) 65%,rgba(51,51,51,0) 100%);
background: linear-gradient(to right,  rgba(51,51,51,0) 0%,rgba(51,51,51,1) 35%,rgba(51,51,51,1) 65%,rgba(51,51,51,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00333333', endColorstr='#00333333',GradientType=1 );
    -moz-background-size:1px 100%;
    background-size:80% 1px;
    background-repeat:no-repeat;
}



/*NAME --------------------------------------------------------------------------- */
#name {
	width: 100%;
	height: auto;
	padding: 1% 0;
	float: left;
	display: block;
	position: absolute;
	z-index:6;
	/*font*/
	color:#00243D;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 600%;
	line-height: 100%;
	letter-spacing: .3em;
	text-shadow: #fff -1px 1px 0,
				 rgb(33,77,114) -2px 2px 0;
				/* rgb(27,64,95) -2px 2px 0; */   
}
.left {
    text-align: left;
	padding: 0 0 0 6%;
}
.right {
    text-align: right;
	padding: 0 2% 0 0;
}
.left, .right {
    display: inline-block;
    width: 46%;
}


/*PLAX EFFECT --------------------------------------------------------------------------- */
div#plax {
	display: block;
	position: absolute;
	width: 100%;
    height:auto;
    bottom:0;
    top:0;
    left:0;
    right:0;
	z-index: 5;
	overflow: visible;
}

img#plax-back {
	position: absolute;
	z-index: 6;
	top: 0px;
	left: 0px;
	margin: 0 42%;
	height:140%;
	width:auto;
}

img#plax-front {
	position: absolute;
	z-index: 5;
	top: 0px;
	left: -6px;
	margin:0 42%;
	height:140%;
	width:auto;
}

.year {
	width: 30px;
	height: 14px;
	position: absolute;
	float: left;
	z-index: 3;
	top: 121%;
	left: 0;
	margin: 0 45%;
	padding: 0 20px;
	font-size: 7px;
	font-family: 'Josefin Slab', Georgia, Times, serif;
	font-weight: 100;
	font-style: italic;
	color: #adadad;
}

img#semicircle {
	position: absolute;
	z-index: 3;
	top: 56%;
	left: 0;
	margin: 0 42%;
	height: 92%;
	width: auto;
}

img#gradient-semicircle {
	position: absolute;
	z-index: 3;
	top: 98%;
	left: 0;
	margin: 0 42%;
	height: 42%;
	width: auto;
}

/*CONTENT --------------------------------------------------------------------------- */
#contentwindow{
	background: url(img/brillant.png) repeat top left scroll;
	width: 99%;
	padding: .5%;
	position: absolute;
	overflow:auto;
	min-width: 400px;
}

/*BOXES --------------------------------------------------------------------------- */
.box{
	width: 23.6%;
	padding-bottom: 23.6%;
	height: 0;
	margin: .4%;
	float: left;
	z-index: 1;
	overflow: hidden;
	border: 1px solid #fff;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	background: #cacaca;
	cursor:pointer;
}

.box.active{
	position: absolute;
	z-index: 2;
	background: url(img/white_carbonfiber.png) scroll repeat left top;
}

.box.cloned.active {
	overflow: auto;
	border: none;
	-webkit-box-shadow: none;
}

#leftcol {
	float:left;
}

#rightcol {
	float: left;
	position:absolute;
	top:0;
}

.uncloned .content, .uncloned .boximage, .uncloned .gallery, .uncloned .sprite{
	visibility:hidden;
}

.box.one.uncloned {
	background-image: url(img/boxes/whitehall.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
}

.box.active .boximage {
	float: left;
	background-repeat: no-repeat;
	background-size: 100%;
	border: 1px solid #fff;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	display:block;
	cursor:pointer;
}

.one .boximage {
	background-image: url(img/boxes/whitehall.jpg);
}

.gallery {
float: left;
background:#696;
width: 96%;
height: 20%;
margin: 2% 2%;
display:inline-block;
}

/*RIBBON --------------------------------------------------------------------------- */
.ribbon {
font-family: 'Montserrat', sans-serif;
font-size: 107%;
font-weight: 100;
letter-spacing: .4em;
font-variant: small-caps;
width: 17%;
position: relative;
background: rgb(52, 99, 80);
color: #fff;
text-align: center;
padding: 0.7em 3.14em;
margin: 0 0 0.3em -1.35em;
-webkit-box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.3);
box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.3);
}
.ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
 content: "";
position: absolute;
display: block;
border-style: solid;
border-color: rgb(79, 128, 101) transparent transparent transparent;
bottom: -.96em;
}
.ribbon .ribbon-content:before {
 left: 0;
 border-width: 1em 0 0 1em;
}
.ribbon .ribbon-content:after {
 right: 0;
 border-width: 1em 1em 0 0;
}

/*SPRITE --------------------------------------------------------------------------- */

.box .sprite {
float: left;
background-image: url(img/tweed.png);
clear: both;
width: 80%;
margin: 8% 8%;
padding: 1% 2%;
border-top-right-radius:1em;
-webkit-border-top-right-radius: 1em;
-moz-border-top-right-radius: 1em;
border-top-left-radius:1em;
-webkit-border-top-left-radius: 1em;
-moz-border-top-left-radius: 1em;
-moz-box-shadow:    inset 0 0 10px #000000;
-webkit-box-shadow: inset 0 0 10px #000000;
box-shadow:         inset 0 0 10px #000000;
}

.sprite .joomla {
background-image: url(img/langsprite.png);
background-position: -360px -107px;
width: 126px;
height: 32px;
}
.sprite .php {
background-image: url(img/langsprite.png);
background-position: -212px -125px;
width: 70px;
height: 39px;
}
.sprite .google {
background-image: url(img/langsprite.png);
background-position: -352px -73px;
width: 135px;
height: 30px;
}
.sprite .mysql {
background-image: url(img/langsprite.png);
background-position: -208px -76px;
width: 84px;
height: 45px;
}
.sprite .html {
background-image: url(img/langsprite.png);
background-position: -4px -4px;
width: 60px;
height: 84px;
}
.sprite .css {
background-image: url(img/langsprite.png);
background-position: -4px -92px;
width: 60px;
height: 84px;
}
.sprite .javascript {
background-image: url(img/langsprite.png);
background-position: -69px -4px;
width: 65px;
height: 66px;
}
.sprite .jquery {
background-image: url(img/langsprite.png);
background-position: -364px -4px;
width: 122px;
height: 33px;
}
.sprite .dreamweaver {
background-image: url(img/langsprite.png);
background-position: -137px -73px;
width: 65px;
height: 66px;
}
.sprite .photoshop {
background-image: url(img/langsprite.png);
background-position: -273px -2px;
width: 67px;
height: 68px;
}
.sprite .illustrator {
background-image: url(img/langsprite.png);
background-position: -68px -73px;
width: 68px;
height: 66px;
}
.sprite .msvs {
background-image: url(img/langsprite.png);
background-position: -356px -179px;
width: 144px;
height: 27px;
}

.sprite li {
margin:3%;
}

.sprite li.col1{
float: left;
}

.sprite li.col2 {
float: right;
}

/* GALLERY --------------------------------------------------------------------------- */

#pg { position: relative; height: 585px; background: #000; }
#pg li { position: relative; list-style: none; width: 175px; height: 117px; overflow: hidden; float: left; z-index: 2; opacity: .3; }
#pg li.active { opacity: 1; }
#pg li.selected { opacity: 1; z-index: 99; -moz-box-shadow: 0px 0px 10px #fff; -webkit-box-shadow: 0px 0px 10px #fff; }
#pg li img { display: block; width: 100%; }
#pg li p { color: white; margin: 10px 0; font-size: 12px; }

